.ui-state-active:focus {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}
.controls-section .card-body {
    padding: 0.8rem 1rem;
}
.toggle.btn.ios {
    border-radius: 20px;

    .toggle-handle {
        background-color: white;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
}
