@import "_overrides.scss";

//SCSS Variables
$border_color: #989898;
@mixin clearfix {
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}

//General styles
body {
    text-align: center;
}

#content_wrap {
    display: inline-block;
    text-align: left;
}
.popover {
    max-width: none;
}
.card-header {
    font-weight: 500;
}
.input-group-wrap {
    display: inline-block;
    vertical-align: bottom;
}
.cursor-pointer {
    cursor: pointer;
}

//Specific styles
#title_row {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
#header_logo {
    width: 100px;
    height: 72px;
    transition: 1s;
}
#title {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}
#input_file_row {
    .form-group > * {
        vertical-align: top;
    }
    .custom-file {
        width: 300px;
    }
}
#save_map {
    margin-left: 30px;
}
#output_map {
    display: none;
}
#map_editcontrols {
    @include clearfix;
    .controls-section {
        float: left;
        padding: 0 15px;
        border-right: 1px solid $border_color;

        &:first-child {
            padding-left: 0;
        }
    }
    .ui-button {
        width: 120px;
        padding: .4rem .5rem;

        i {
            margin-right: 8px;
        }
    }
}
main {
    margin: 10px 0;
}
#map, #load_splash {
    border: 1px solid $border_color;
}
#load_splash {
    text-align: center;
    display: inline-block;
    width: 1080px;
    height: 600px;
}
#load_splash_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
#load_splash_content {
    display: table-cell;
    vertical-align: middle;
}
#load_splash_warning {
    display: none;
}
#map {
    display: none;

}
#map_scrollcontrols, #map_infoboxes {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 5px;
}
#map_scrollcontrols {
    button {
        display: block;

        &:nth-of-type(2n + 1) {
            margin-bottom: 5px;
        }
    }
}
#map_scrollbar {
    height: calc(100% - 175px);
    margin: 20px 0 20px 15px;
    //background: //Default background

    .ui-slider-handle {
        width: 3em;
        height: 1.6em;
        left: -1em;
        margin-top: -.8em;
        text-align: center;
        line-height: 1.6em;
    }

    .ui-slider-range-min {
        background-color: #007fff;
    }
}
#map_infoboxes {
    width: 235px;

    .controls-section {
        margin-bottom: 1.5rem;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 8px;

        span {
            margin-left: 10px;
        }
    }
}
#cell_infobox {

}
.info-title {
    display: inline-block;
    font-style: italic;
}
.input-row {
   margin-bottom: 4px;
}
.cell-info-title {
    @extend .info-title;
    width: 90px;
}
.position-info-title {
    @extend .info-title;
    width: 60px;
    vertical-align: bottom;
}
#info_cell_locked {
    color: #22e24f;
}
#info_cell_locked.locked {
    color: #f24856;
}
#position_infobox input {
    width: 100px;
    padding: 0.5rem;
}
#input_current_row {
    display: inline-block;
}
#input_group_depth {
    float: left;
    width: auto;
}
#map_materials {
}
#map_materials_panel {
    display: none;
}
#map_materials_container {
    width: 390px;

    .material-container {
        float: left;
        width: 48%;

        &:nth-child(2n + 1) {
            margin-right: 3%;
        }
    }
}
#current_material_container {
    display: block;
}
#current_material_container:focus {
    outline: none;
}
.material-container {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
}
.material-icon {
    float: left;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.material-title {
    float: left;
    width: calc(100% - 30px);
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
}

label[for='input_safemode'] {
    margin-right: 10px;
}

#help_safemode {
    color: #999999;
    margin-left: 15px;
    font-size: 20px;
}

#footer {
    padding: 8px 0;
    text-align: center;

    p {
        margin: 8px 0;
    }
}

#help_modal {
    .modal-dialog {
        max-width: 700px;
    }
    .modal-body {
        text-align: left;
    }
}
@media screen and (max-width: 1400px) {
    #map_infoboxes {
        width: 100%;
        margin-top: 15px;

        .controls-section {
            float: left;
            margin-right: 2%;
            height: 100%;
        }
    }
}
