@import "overrides.scss";

.popover {
    max-width: none;
}
.card-header {
    font-weight: 500;
}
.input-group-wrap {
    display: inline-block;
    vertical-align: bottom;
}


canvas#map {
    border: 1px solid #ededed;
}
#map_controls {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;

    > div {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
#map_scrollcontrols {
    button {
        display: block;

        &:nth-of-type(2n + 1) {
            margin-bottom: 5px;
        }
    }
}
#map_scrollbar {
    height: calc(100% - 175px);
    margin: 20px 0 20px 15px;
    //background: //Default background
    
    .ui-slider-handle {
        width: 3em;
        height: 1.6em;
        left: -1em;
        margin-top: -.8em;
        text-align: center;
        line-height: 1.6em;
    }
    
    .ui-slider-range-min {
        background-color: #007fff;
    }
}
#map_editcontrols {
    width: 235px;

    .controls-section {
        margin-bottom: 1.5rem;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 8px;

        span {
            margin-left: 10px;
        }
    }
}
#cell_infobox {

}
.info-title {
    display: inline-block;
    font-style: italic;
}
.input-row {
   margin-bottom: 4px; 
}
.cell-info-title {
    @extend .info-title;
    width: 90px;    
}
.position-info-title {
    @extend .info-title;
    width: 60px;
    vertical-align: bottom;
}
#info_cell_locked {
    color: #22e24f;
}
#info_cell_locked.locked {
    color: #f24856;
}
#position_infobox input {
    width: 100px;
    padding: 0.5rem;
}
#input_current_row {
    display: inline-block;
}
#input_group_depth {
    float: left;
    width: auto;
}
#map_materials {
}
#map_materials_panel {
    display: none;
}
#map_materials_container {
    width: 390px;

    .material-container {
        float: left;
        width: 48%;

        &:nth-child(2n + 1) {
            margin-right: 3%;
        }
    }
}
#current_material_container {
    display: block;
}
#current_material_container:focus {
    outline: none;
}
.material-container {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
}
.material-icon {
    float: left;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.material-title {
    float: left;
    width: calc(100% - 30px);
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
}
